.aboutMe {

}

.image {
    transform: rotate(6deg);
    z-index: 100;
    margin: 0;
    padding: 0;
}
.image img {
    border-radius: 36px;
}
.image::before {
    content: "";
    transform: rotate(-10deg);
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
    border-radius: 36px;

}
.highlight {


    font-size: 28px;
    line-height: 1.2;
    width: 30%;

}
.paragraph {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}