.container {
    position: relative;
    align-items: flex-end;
    z-index: 0;
    gap: 0;
    margin-left: 20px;
    margin-right: 20px;
}
.desktopScreen {
    border-radius: 18px;
}
.mobileScreen {
    position: absolute;
}
.desktop {
    position: absolute;
    border-radius: 1px;
}
.mobile {
    z-index: 20;
    position: absolute;
}
@media (min-width: 576px) {
    .desktopScreen {
        max-width: 260px;
        height: 210px;
    }
    .mobileScreen {
        max-width: 65px;
        bottom: 0;
        left: 210px;
    }
    .desktop {
        width: 242px;
        height: 182px;
        top: 13px;
        left: 9px;
    }
    .mobile {
        width: 59px;
        height: 124px;
        bottom: 3px;
        left: 213px;
        border-radius: 10px;
    }
}
@media (min-width: 992px) {
    .desktopScreen {
        max-width: 600px;
        height: 430px;
    }
    .mobileScreen {
        max-width: 150px;
        left: 500px;
    }
    .desktop {
        width: 562px;
        height: 380px;
        top: 22px;
        left: 18px;
    }
    .mobile {
        width: 137px;
        height: 285px;
        bottom: 8px;
        left: 508px;
        border-radius: 18px;
    }
}
