.container {
    background-image: url("../assets/images/profile/profile_pic_small.png");
    background-size: cover;
    height: 100vh;
}

@media (min-width: 992px) {
    .container {
        background-image: url("../assets/images/profile/profile_pic.png");
        background-position: center;
    }
}