.hero {
    margin-top: 0;
    padding: 120px 0 100px 0;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}
.intro {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}
.description {
    font-size: 16px;
}

.hero p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}
.hero button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
}
.hero button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}
.hero button:hover svg {
    margin-left: 25px;
}

.txt-rotate > .wrap {
    border-right: 0.08em solid #666;
}
.container {
    position: relative;
}
.image {
    position: absolute;
    top: 120px;
}
.chessboard {
    top: 0;
    z-index: -10;
}
.knight {
    position: absolute;
    width: 90px;
    left: 165px;
    z-index: 0;
    animation: knight-move 3s ease-in-out;
}
@keyframes knight-move {
    0% {
        transform: scale3d(0.4, 0.4, 0.4) translate(-160%, 25%);
    }
    50% {
        transform: translateX(-80%)
    }
}
@media (min-width: 420px) {
    .knight {
        width: 110px;
        left: 200px;
    }
}
@media (min-width: 576px) {
    .intro {
        font-size: 24px;
    }
    .description {
        font-size: 16px;
    }
    .knight {
        width: 120px;
        left: 250px;

    }
}
@media (min-width: 768px) {
    .intro {
        font-size: 28px;
    }
    .description {
        font-size: 18px;
    }
    .knight {
        top: -50px;
        left: 300px;
        width: 180px;
    }
}
@media (min-width: 992px) {
    .intro {
        font-size: 42px;
    }
    .description {
        font-size: 22px;
    }
    .knight {
        left: 400px;
        width: 210px;
    }
}
@media (min-width: 1200px) {
    .intro {
        font-size: 61px;
    }
    .description {
        font-size: 28px;
    }
    .knight {
        width: 250px;
        left: 490px;
    }
}
@media (min-width: 1400px) {
    .knight {
        width: 300px;
        left: 600px;
    }
}