.container {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}
.content {
    justify-content: center;
    align-items: center;
    position: relative;
}

.text h1 {
    font-size: 84px;
    font-weight: 700;
    letter-spacing: 0.8px;
    display: block;
}
@media (max-width: 766px) {
    .text h1 {
        font-size: 72px;
    }
}
@media (max-width: 575px) {
    .text h1 {
        font-size: 48px;
    }
}
.image {
    transform: rotate(6deg);
    z-index: -10;
    padding: 0;
    transition: 0.3s ease-in-out;
}
@media (max-width: 991px) {
    .image {
        width: 80%;
        margin-top: 76px;
        margin-bottom: 76px;
    }
}
.image img {
    border-radius: 36px;
    aspect-ratio: 1/1;
}
.image::before {
    content: "";
    transform: rotate(-10deg);
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    width: inherit;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: -100;
    border-radius: 36px;
    transition: 0.3s ease-in-out;
}
.image:hover {
    transform: rotate(-1deg);
}
.image:hover::before {
    transform: rotate(4deg);
}

.knight {
    position: absolute;
    width: 20%;
    top: 23%;
    left: 39%;
    z-index: 0;
    animation: 1s knight-move-mobile ease-in-out;
}
@keyframes knight-move-mobile {
    0% {
        transform: scale(0.7, 0.7) translate(-70%, -15%);
    }
    50% {
        transform: scale(1, 1) translateX(-100%)
    }
}

@media (min-width: 576px) {
    .knight {
        animation: 1s knight-move-sm ease-in-out;
    }
}
@keyframes knight-move-sm {
    0% {
        transform: scale(0.7, 0.7) translate(-80%, -15%);
    }
    50% {
        transform: scale(1, 1) translateX(-115%)
    }
}

@media (min-width: 768px) {
    .knight {
        top: 15%;
        animation: 1s knight-move-md ease-in-out;
    }
}
@keyframes knight-move-md {
    0% {
        transform: scale(0.8, 0.8) translate(-70%, -15%);
    }
    50% {
        transform: scale(1, 1) translateX(-105%)
    }
}

@media (min-width: 992px) {
    .knight {
        top: 15%;
        animation: 1s knight-move-lg ease-in-out;
    }
}
@keyframes knight-move-lg {
    0% {
        transform: scale(0.7, 0.7) translate(-75%, -15%);
    }
    50% {
        transform: scale(1, 1) translate(-115%)
    }
}

@media (min-width: 1200px) {
    .knight {
        animation: 1s knight-move-xl ease-in-out;
    }
}
@keyframes knight-move-xl {
    0% {
        transform: scale(0.7, 0.7) translate(-75%, -15%);
    }
    50% {
        transform: scale(1, 1) translate(-120%)
    }
}

@media (min-width: 1400px) {
    .knight {
        animation: 1s knight-move-xl ease-in-out;
    }
}
@keyframes knight-move-xl {
    0% {
        transform: scale(0.7, 0.7) translate(-85%, -15%);
    }
    50% {
        transform: scale(1, 1) translate(-125%)
    }
}
