.navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    transition:  0.32s ease-out;

}
.content {
    justify-content: space-around;
    width: 100%;
}
.links {
    gap: 10px;
}
.links a {
    color: #fff;
    z-index: 999;
}
.active {
    background: rgba(217, 217, 217, 0.4);
    padding: 10px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.socials {
    gap: 10px;
}
.socials a {
    color: #fff;
}