.container {
    perspective: 100em;
}
.image {
    position: absolute;
    top: 5px;
    left: -4px;
    transform: rotateY(330deg) skewY(-1deg);
    height: 95%;
    border-radius: 11px 13px 10px 6px;
}

@media (min-width: 768px) {
    .image {
        top: 9px;
        left: -7px;
        transform: rotateY(330deg) skewY(0deg);
        border-radius: 16px 20px 20px 22px;

    }
}
@media (min-width: 1200px) {
    .image {
        left: -8px;
        transform: rotateY(332deg) skewY(.5deg);
        border-radius: 26px;
    }
}