.projects {

}
.cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card {
    margin: 0;
    padding: 0;
}
.description {
    text-align: justify;
    white-space: break-spaces;
}
.image {
    aspect-ratio: 1/1;
}
.text {
    background: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;

}
.text h3 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
}
.text h4 {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
}
.carouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: 4px auto;
    padding: 4px
}
.large {
    display: none;
}

@media (min-width: 992px) {
    .small {
        display: none;
    }
    .large {
        display: grid;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 36px;
    }
    .card {
        padding: 0;
        position: relative;
        border-radius: 30px;
        overflow: hidden;
    }
    .card::before {
        content: "";
        background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
        opacity: 0.85;
        position: absolute;
        width: 100%;
        height: 0;
        transition: 0.4s ease-in-out;
    }
    .card:hover::before {
        height: 100%;
    }
    .card:hover .text {
        top: 50%;
        opacity: 1;
    }
    .text {
        position: absolute;
        opacity: 0;
        background: none;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

}
