.container {

}
.cards {
    gap: 12px;
}
.card {
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.description {
    text-align: justify;
    white-space: break-spaces;
}
.image {
    aspect-ratio: 1/1;
}
.text {
    background: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    padding: 20px;
}
.text h3 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
}
.text h4 {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
}
.carouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: 4px auto;
    padding: 4px
}
.arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px

}
.large {
    display: none;
}

@media (min-width: 992px) {
    .small {
        display: none;
    }
    .large {
        display: grid;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 72px;
    }

    .text {
        position: absolute;
        opacity: 0;
        color: #ffffff;
        background: none;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .text h3 {
        font-size: 48px;
        font-weight: 800;
    }
    .text h4 {
        padding-top: 8px;
        font-size: 20px;
        font-weight: 600;
        color: #BEBEBE
    }

}
