
.table {

}
.row {
    align-items: center;
}
.row h4 {

}
.paragraph {
    padding: 36px;
    font-size: 24px;
    letter-spacing: 0.6px;
}

.programming {
    border-left: solid 6px red;
}
.development {
    border-left: solid 6px blue;

}
.engineering {
    border-left: solid 6px green;
}